h1 {
    display: inline-block;
    margin: 0;
}

#correctAnswer{
    padding-right: 40px;
}

#record{
    border: black 1px solid;
    width: 100px;
    margin: 20px 20px 0px 0px;
    display: inline-block;
}

h5 {
    margin: 0;
}

#answer{
    color: red;
}

